body {
  background-color: rgb(0, 0, 78);
  color: white;
}
input {
  color: black;
}
textarea {
  color: black;
}
.quiz-list {
  display:  flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1600px;
  margin: 40px auto;
}


.quiz-cart {
  z-index: 2;
  position: relative;
  width: 31%;
  height: 400px;
  box-shadow: 0px 0px 5px blue;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px 25px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all ease 0.2;
}
.quiz-cart a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: white;
}
.quiz-cart:hover {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 15px  blue;
}
.searchBlock {
  max-width: 1200px;
  margin: 0 auto;
}

.search {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 12px 18px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  border: none;
  box-shadow: 1px 1px 2px  black;
  width: 1200px;
  text-align: center;
  margin: 20px auto;
  transition: all ease 0.2s;
}
.search:focus {
  box-shadow: 1px 1px 15px  black;
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
}


.quiz {
  max-width: 1400px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0 ,0.2);
  border-radius: 15px;
  min-height: 500px;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: none;
}
.questions span {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  gap: 20px;
  font-size: 18px;
}
.questions span:hover {
  box-shadow:  1px 5px 5px blue;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-roup {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.cousen {
  box-shadow:  1px 5px 5px blue;
  background-color: rgba(0, 0, 0, 1);
}

.create-modal {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: blue;
  border-radius: 8px;
  width: 600px;
  min-height: 500px;
  padding: 20px;
  box-sizing: border-box;
}
.create-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.create-group span {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-input, .reit-input {
  padding: 10px 13px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px black;
  background-color: white;
  color: black;
}
.description {
  padding: 10px 13px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px black;
  background-color: white;
  color: black;
  width: 95%;
}
.create-group  textarea {
  padding: 10px 13px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px black;
  background-color: white;
  color: black;
}
.create-group .main-input:hover,.create-group textarea:hover {
  box-shadow: 1px 1px 1px 3px black;
  background-color: rgba(255, 255, 255, 0.7);
}
.create-group .main-input:focus,.create-group textarea:focus {
  outline: none;
  box-shadow: 1px 1px 1px 3px blue;
  background-color: rgba(255, 255, 255, 0.9);
}

.create-group textarea {
  resize: none;
  height: 70px;
}
.setQuestion {
  display:  flex;
  width: 100%;
  gap: 5px;
  align-items: center;
}
.main-input{
  width: 90%;
}
.correct {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  border-radius: 8px;
  box-shadow: none;
}
.correct:hover {
  background-color: green;
}

.wrapper {
  position: relative;
}
.wrapper .add {
  margin: 0px;
}


.reit-input {
  width: 25%;
}
.progress {
  content: "";
  width: 90%;
  height: 8px;
  background-color: white;
  position: absolute;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.progress span {
  content: "";
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,13,1) 35%, rgba(0,212,255,1) 100%);
  position: absolute;
  height: inherit;
  border-radius: 20px;
}

.quiz-question-title {
  padding-top: 15px;
}

.finish-quiz {
  margin-top: 40px;
  text-align: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finish-quiz a {
  background-color: green;
  padding: 8px;
  border-radius: 8px;
  width: 150px;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-modal  h2 {
  font-size: 28px;
}
.question {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
}
.question  p {
  font-size: 20px;
}